<div class="big-block" id="about-block">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/join_us_background.jpg" style="visibility: hidden;"/>
    </div>
    <div class="col-md-6 container transparent-block">
      <h1 class="text-center">Join Us</h1>
      <div class="box-1">
        The Islington Handball Club is a community club which was created in 2013 by Ambroise Salaun after the enthusiasm for Handball in the wake of the London 2012 Olympic games.
        It has been welcoming expats and more and more local players, especially among our Youth teams, from all abilities and ages.
        Year after year the Club keeps on growing, thanks to the dedication of the volunteers who run it, and its qualified coaches who love sharing their time and passion for Handball.
        We work with a number of partnerships and organisations, coaching in schools and attend Islington Community events.
        The club offers a whole range of teams and everyone is welcome to join the fun and contribute to the great spirit of handball playing!
        Come and give a try to Handball, you will meet some lovely people who share their joy of playing a fast an spectacular sport!
      </div>
    </div>
  </div>
</div>
