{{!< default}}
<div class="container">
        <div class="row">
          <div class="box">
          <div class="col-md-8 text-center">
            <h2 class="brand-before">
              Welcome to
            </h2>
            <h2 class="brand-before">Islington Handball Club</h2>

            <div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item caroussel-team active">
                  <img class="img-responsive img-full" src="/images/slide1.jpg" alt="">
                </div>
                <div class="item caroussel-team">
                  <img class="img-responsive img-full" src="/images/slide2.jpg" alt="">
                </div>
                <div class="item caroussel-team">
                  <img class="img-responsive img-full" src="/images/slide3.jpg" alt="">
                </div>
                <div class="item caroussel-team">
                  <img class="img-responsive img-full" src="/images/slide4.jpg" alt="">
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIslingtonHC&tabs=timeline&width=340&height=640&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=391358814275983" width="340" height="640" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
          </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-md-8">
                    <hr>
                    <h2 class="intro-text text-center">About Handball</h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/images/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    Handball is a very developed and famous sport throughout the world, and one of the most practised. In 2012, for the Olympics in London a UK Handball team was created for the first time.

Handball is a recent and dynamic sport, but also a breeding ground for social mixing. Played by both girls and boys it develops speed, suppleness, assertiveness, strength, team spirit and tactical awareness. The spectacular and lively side of this sport naturally attracts children. The rules are simple and the pleasure of the game is immediate: run, jump, throw. It is a good way to improve hand-eye coordination and agility and prevent vascular diseases.

Handball is also full of values such as respect, solidarity, fighting spirit that can help you in everyday life.

In handball there are two opposing teams of seven players each; six outfield players and a goalkeeper. Both teams fight for possession of the ball. The objective is simply to score more goals than your opposing team.

Our assocition with Arsenal gives you the possibility to train with qualified coaches in great venues in the city of London. So, to take part in this adventure you can come to the training sessions to try it out and maybe after join the Islington Handball club; don't be shy .

For more informations please contact us.

Join the world of the Handball, Handbal, Håndbold, Balonmano, Amdebol, Pallamano, كرة اليد, 手球, Гандбол.
                </div>
                <div class="col-md-4" id="social_block">
                  <div class="row">
                    <h2>Follow us</h2>
                  </div>
                  <div class="row">
                    <a href="https://www.facebook.com/IslingtonHC" target="_blank">
                      <img src="/images/facebook_logo.png" class="footer-image img-rounded" />
                    </a>
                  </div>
                  <div class="row">
                    <a href="https://twitter.com/IslingtonHC" class="social" target="_blank">
                      <img src="/images/twitter_logo.png" class="footer-image img-rounded" />
                    </a>
                  </div>
                  <div class="row">
                    <a href="https://www.instagram.com/islingtonhc/" class="social" target="_blank">
                      <img src="/images/instagram_logo.png" class="footer-image img-rounded" />
                    </a>
                  </div>
                </div>
              </div>
        </div>


    </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('.carousel').carousel({
      interval: 5000 //changes the speed
    })
  })
</script>
