<div class="big-block" id="partners-block">
	<div class="row">
		<div class="col-md-6">
			<img src="/images/join_us_background.jpg" style="visibility: hidden;"/>
		</div>
		<div class="col-md-6 container transparent-block">
			<h1 class="text-center">Partners</h1>
			<div class="box-1">
				<div class="row">
					<div class="col-md-6">
						<img class="partners-image" src="/images/Arsenal_club_logo.png">
					</div>
					<div class="col-md-6">
						<p>Arsenal in the Community has been using the power of the Arsenal name to positively impact the lives of young people since 1985. The team delivers sport, social and education programmes to over 5,000 individuals each week.</p>
						<p>Website : http://www.arsenal.com/community</p>
						<p>Twitter : @AFCCommunity</p>
					</div>
				</div>
			</div>
			<div class="box-1">
				<div class="row">
					<div class="col-md-6">
						<img class="partners-image" src="/images/d0f738_3927cbc151f04ff081fe485c8ff2e964.png">
					</div>
					<div class="col-md-6">
						<p>Lions Sports Services is a social enterprise specialising in handball and providing sports services to local authorities, schools, universities and community groups.</p>
						<p>Website : http://www.lionssports.co.uk</p>
						<p>Facebook : https://www.facebook.com/lions.sports.services/</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
